<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
{# Home Link #}
<div class="icon-links">
    <p>
    {# Home #}
    <a class="icon-link"
    href="{{ url_for('home') }}">
        <img class="icon-link-image"
        src="{{ url_for('static', filename='home.svg') }}">
    </a>
</div>


<div>
    <h1> 
        About Page
    </h1>
    <p>
        This website was made by Dustin Enyeart. 
        It uses Python and the web framework <a href="https://flask.palletsprojects.com/en/3.0.x/"> Flask </a>. 
        All background frame images were created by <a href="https://openai.com/index/dall-e-3/"> DALL⋅E 3 </a>. 
    </p>
</div>


{# Footer #}
<div class="footer">
<hr>
    <p> 
        <a class="footer-link" href="{{ url_for('home') }}">
            Homepage
        </a>
    </p>
</div>


</body>

</html>

