<html>
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Dustin Enyeart</title>
    <link rel="icon" type="image/png"
    href="{{ url_for('static', filename='integral.svg') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <style>
    .page-header {
        display: flex; 
        background-image: url("{{ url_for('static', filename='background-frame.png') }}");
        background-repeat: no-repeat;
        background-position: center;
        border: 3px solid white;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
    }
    .header-text {
        text-align: center;
    }
    .profile-photo {
        width: 10em;
        height: 10em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        border: 3px solid white;
    }
    </style>
</head>


<body>
{# Icon Links #}
<div class="icon-link">
<p>
    {# Git #}
    <a class="icon-link"
    href="https://gitlab.com/users/dustin_lee/projects">
        <img class="icon-link-image"
        src="{{ url_for('static', filename='git.svg') }}">
    </a>
    {# LinkedIn #}
    <a class="icon-link"
    href="https://www.linkedin.com/in/dustin-lee-enyeart-6a15582aa/">
        <img class="icon-link-image"
        src="{{ url_for('static', filename='linkedin.svg') }}">
    </a>
    {# Resume #} 
    <a class="icon-link"
    href="{{ url_for('static', filename='enyeart.pdf') }}">
        <img class="icon-link-image"
        src="{{ url_for('static', filename='resume.svg') }}">
    </a>
    {# Mail #}
    <button id="emailButton">
        <span>
        <img class="icon-link-image"
            src="{{ url_for('static', filename='mail.svg') }}">
        </span>
    </button>
    <div id="emailModal" class="modal">
    <div class="modal-content">
        <span class="close">×</span>
        <p>
            <span style="font-size:1.2em">
                <strong>Email</strong> 
            </span>
            <br>
            <button class="copy-button"
            onclick="copyText('email-text')"
            data-tooltip="Copied!">
                <img class="copy-icon"
                src="{{ url_for('static', filename='copy.svg') }}">
            </button>
            <span id="email-text"
            style="font-family:monospace; font-size:1.2em">
                dustin.enyeart@pm.me
            </span>
        </p>
        <span style="font-size:1.2em">
            <strong>Public Key</strong> 
        </span>
        <span style="font-size:0.8em">
            (for optional encrypting)
        </span>
        <br>
        <button class="copy-button"
        onclick="copyText('key-text')"
        data-tooltip="Copied!">
                <img class="copy-icon"
                src="{{ url_for('static', filename='copy.svg') }}">
            </button>
            <span id="key-text" style="font-family:monospace; font-size:1.2em">
                685354D9D328D54C49F91BFF90F4A9355545CCA9
            </span>
        </p>
    </div>
    </div>
</p>
</div>


{# Page Header #}
<div class="page-header">
    {# Profile photo #}
    <p>
    <img class="profile-photo"
        src="{{ url_for('static', filename='profile.jpeg') }}">
    </p>
    {# Title #}
    <p class="header-text"> 
        <span style="font-size: 2em"> 
        The Homepage of
        </span>
        <br>
        <span style="font-size: 4em">
        Dustin Lee Enyeart
        </span>
    </p>
</div>


{# About Me #}
<div class="about"> 
    <h2> 🚀 About Me</h2>
    <p>
        I am a PhD candidate in mathematics a Purdue University. I have broad interests across applied mathematics, theoretical physics, computational physics and computer science. My dissertation is on scientific machine learning. 
    </p>
</div>


{# Books #}

{# Projects #}

{# Publications #}


{# About Page #}
<div class="footer">
<hr>
    <p> 
        <a class="footer-link" href="{{ url_for('about') }}">
            About Page
        </a>
    </p>
</div>


<script src="static/scripts.js"></script>

</body>

</html>


